{% extends "spotify/base.html" %}

{% block title %}
Playlists
{% endblock %}

{% block style %}
<style>
	.playlist-card .card-content {
		height: 200px; /* Fixed height for content */
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.card-image img {
		height: 100%;
		object-fit: contain;
	}
</style>
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-multiline">
            {% for playlist in playlists %}
            <div class="column is-one-third">
                <div class="card playlist-card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ playlist.images.0.url }}" alt="Playlist Image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div>
                            <p class="title is-4">{{ playlist.name }}</p>
                            <p class="subtitle is-6">{{ playlist.tracks.total }} tracks</p>
                        </div>
                        <div class="content">
                            {{ playlist.description|default:"No description available."|truncatechars:100 }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
